name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Doppler CLI
        uses: dopplerhq/cli-action@v3

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Lint
        run: bun run lint

      - name: Test
        run: bun run test

      - name: Build Storybook
        run: bun run build-storybook

      - name: Build
        run: doppler run -- bun run --bun next build
        env:
          DOPPLER_TOKEN: ${{ secrets.DOPPLER_TOKEN }}
